fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic
pydantic-settings
httpx
python-multipart
email-validator
tenacity

langchain
langgraph
langchain-openai
langchain-groq
python-dotenv
xero-python
fastembed
pinecone